body {
  background-color: black;
  opacity: 0.8;
  color: #e9c964;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

w3-container {
  color: red;
}

ul {
  color: red;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#classes {
  display: flex;
  justify-content: right;
}

.d2classes {
  display: inline;
  align-items: flex-start;
  max-width: 350px;
  text-align: center;
  color: #e9c964;
}

.descript {
  align-items: flex-start;
}

.Nav-Bar1 {
  font-size: x-large;
  color: #e9c964;
}
